.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.margin-top-basic{
    margin-top: 3%;
}

html, body{
    font:normal 0.9em arial,helvetica;
}

#log {
    margin: 3% 0 3% 0;
    width: 100%; 
    height: 50vh; 
    border: 1px solid #ced4da; 
    border-radius: 5px;
    overflow: auto;
}

#msg {
    width:80%;
}